<%- include("../template/navBar") %>
<body>
  <br>
  <div class="container">
    <div class="text-center">
      <h2>Editar datos de Medicos</h2>
    </div>
    <br>
    <form action="./edit-medical" method="POST">
      <input type="hidden" name="idMedical" value="<%= medical.idMedical %>">
      <div class="row">
        <div class="col-12">
          <label for="medicalname" class="form-label">Nombre de usuario</label>
          <input type="text" name="medicalname" id="medicalname" class="form-control" value="<%= medical.medicalname %>">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="text" name="email" id="email" class="form-control" value="<%= medical.email %>">
        </div>
        <div class="col-6">
          <label for="phone" class="form-label">Teléfono</label>
          <input type="text" name="phone" id="phone" class="form-control" value="<%= medical.phone %>">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" name="address" id="address" class="form-control" value="<%= medical.address%>">
        </div>
        
        <div class="row">
             <div class="col-6">
                <label for="specialty" class="form-label">Especialidad</label>
                <input type="text" name="specialty" id="specialty" class="form-control" value="<%= medical.specialty%>">
        </div>
        <div class="row">
            <div class="col-6">
              <label for="datebirth" class="form-label">Fecha de nacimiento</label>
              <input type="date" name="datebirth" id="datebirth" class="form-control" value="<%= medical.datebirth%>">
            </div>
      <br>
      <div class="row">
        <div class="col-6">
          <div class="float-start">
            <button type="submit" class="btn btn-success">Actualizar</button>
          </div>
        </div>
        <div class="col-6">
          <div class="float-end">
            <a href="./index" class="btn btn-success" >Volver al inicio</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>

</html>